* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.header {
    background-color: rgb(56, 54, 54);
}

.nav {
    display: flex;
    max-width: 1000px;
    height: 40px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.camera-icon {
    height: 20px;
    filter: invert(100%);
    margin: 0 10px;
}

.logo-text {
    display: inline-block;
    color: white;
    font-size: 18px;
    text-align: center;
    transform: translateY(-12%);
}

.burger {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    padding: 0 5px;
}

.burger-img {
    height: 20px;
    filter: invert(70%);
}

.section-one {
    text-align: center;
    max-width: 400px;
    padding: 0 10px;
    margin: 90px auto;
}


.section-one-heading {
    font-size: 2em;
    font-weight: 300;
    margin: 10px 0;
}

.section-one-info {
    color: rgb(100, 100, 100);
    font-weight: 300;
    margin: 10px 0;
    line-height: 25px;
}

.sec-one-buttons {
    margin: 30px 0;
}

.main-call {
    text-decoration: none;
    color: white;
    background-color: rgb(13, 89, 189);
    padding: 8px;
    margin: 0 1px;
    border-radius: 3px;
}

.sec-act {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 8px;
    margin: 0 1px;
    border-radius: 3px;
}

.album-container {
    background-color: rgb(250, 250, 250);
    padding: 50px 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align:left;
    font-size: 14px;
    width: 320px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(192, 192, 192);
}

.thumbnail {
    width: 100%;
}

.thumbnail-img {
    width: 100%;
    object-fit: contain;
}

.info {
    display: flex;
    justify-content: space-between;
}

.text, .info, .time {
    margin: 10px;
}

.time {
    color: grey;
}

/* .buttons {
    border: 1px solid grey;
    line-height: inherit;
    padding: 0 4px;
    height: 30px;
    line-height: 30px;
    font-size: 0.9em;
    border-radius: 3px;
} */

.view {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    transform: translateX(11%);
    border-radius: 5px 0 0 5px;
}

.edit {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.buttons a {
    text-decoration: none;
    color: grey;
    margin: 0;
}

.footer {
    display: flex;
    height: 100px;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: grey;
}